/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  text-decoration: none;
  color: var(--cinza);
}

/* Cores */
:root {
  --text-color: #fff;
  --rosa-claro: #fde2e4;
  --rosa-claro-1: #ffecf4;
  --rosa-medio: #fad2e1;
  --rosa-medio-nav: #fad2e1a4;
  --rosa-escuro: #ff8fa3;
  --cinza: #4e4e4e;
  --cinza-medio: #777;
  --color-star: #f9ee12;
}

/* Global */
body {
  height: 100dvh;
  background-color: var(--rosa-claro);
}

section {
  height: 100%;
  padding: 6rem 4rem 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  cursor: default;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 8dvh;
  top: 0;
  left: 0;
  background: rgba(151, 151, 151, 0.247);
  box-shadow: 0 4px 30px rgba(105, 105, 105, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  z-index: 1000;
}

header nav ul {
  display: flex;
  gap: 2rem;
}

header nav ul li a {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--cinza-medio);
  transition: 0.2s;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
}

header nav ul li a:hover {
  color: var(--rosa-escuro);
}

.btn__mobile {
  display: none;
}

/* Seção Home */
.section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/background-home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-text {
  max-width: 60%;
}

.headline {
  font-size: 3rem;
  color: var(--rosa-escuro);
}

.description {
  font-size: 1.11rem;
  margin-top: 10px;
}

@keyframes effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn {
  display: inline-block;
  margin-top: 1.14rem;
  padding: 10px 20px;
  background-color: var(--rosa-escuro);
  color: var(--text-color);
  border-radius: 5px;
  border-bottom: solid 4px #00000023;
  transition: all 0.3s linear;
}

.btn:hover {
  box-shadow: 0 0 5px var(--rosa-escuro);
  animation: effect 0.5s linear infinite;
}

.btn-top i {
  font-size: 2.2rem;
}

/* Seção Características */
.section-caracteristicas {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(img/background-produtos.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 50px var(--rosa-claro);
}

.cards {
  display: flex;
  gap: 1.2rem;
  margin-top: 5rem;
}

.card {
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  background-color: var(--rosa-medio);
  box-shadow: 0 0 3px var(--cinza-medio);
}

.card p {
  margin-top: 1rem;
}

.card h3 {
  font-weight: 400;
}

/* Seção Produtos */
.section-produtos {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-image: url(img/background-produtos.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 20px var(--rosa-medio);
}

.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  margin-top: 5rem;
}

.items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  z-index: -1;
  opacity: 0;
}

.item img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

.item h4 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.item a {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: var(--cinza-medio);
  color: var(--rosa-escuro);
  border-radius: 0.5rem;
  transition: 0.2s;
}

.item a:hover {
  background-color: var(--rosa-escuro);
  color: var(--cinza-medio);
}

.item.active {
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  z-index: 100;
}

.button-container .button {
  color: var(--text-color);
  font-size: 2.1rem;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}

/* Seção Comentários */
.section-comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-image: url(img/background-comentarios.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 380px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.3s ease;
}

.card-carousel.smooth-return {
  transition: all 0.2s ease;
}

.card-carousel .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--text-color);
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 0.5rem;
  cursor: grab;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: var(--cinza-medio);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  filter: brightness(0.9);
}

.card.highlight {
  filter: brightness(1);
}

.card:nth-of-type(1) .image-container {
  background-image: url("img/client-1.png");
}

.card:nth-of-type(2) .image-container {
  background-image: url("img/client-2.png");
}

.card:nth-of-type(3) .image-container {
  background-image: url("img/client-3.png");
}
.card:nth-of-type(4) .image-container {
  background-image: url("img/client-4.png");
}
.card:nth-of-type(5) .image-container {
  background-image: url("img/client-5.png");
}

.image-container {
  width: 10rem;
  height: 10rem;
  position: relative;
  background-size: cover;
  margin-bottom: 1.1em;
  border-radius: 100%;
  padding: 1rem;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}

.card .avaliation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.card .avaliation .stars i {
  color: var(--color-star);
}

/* Rodapé */
footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: var(--rosa-medio);
  color: var(--cinza-medio);
}

@media screen and (max-width: 768px) {
  /* Global */
  section {
    padding: 4rem 2rem 0;
    background-color: var(--rosa-claro);
    box-shadow: 0 0 50px var(--rosa-medio);
  }

  /* Seção menu */
  header {
    background: rgba(0, 0, 0, 0.339);
    box-shadow: 0 4px 30px rgba(105, 105, 105, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
  }

  header .navbar ul {
    display: block;
    position: absolute;
    width: 100%;
    padding: 0.85rem 1rem;
    top: 8dvh;
    right: 0;
    background-color: var(--rosa-claro);
    height: 0;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  .navbar.active ul {
    height: calc(100dvh - 0.85rem);
    visibility: visible;
    overflow-y: auto;
    box-shadow: 0 2px 10px var(--cinza-medio);
  }

  .navbar li a {
    display: flex;
    padding: 1.6rem 0;
    margin: 0.5rem 1.1rem;
    color: var(--rosa-escuro);
  }

  .btn__mobile {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--rosa-medio);
    gap: 0.5rem;
  }

  .burguer {
    color: var(--rosa-medio);
    border-top: 2px solid var(--rosa-medio);
    width: 20px;
  }

  .burguer::after,
  .burguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: 0.3s;
    position: relative;
  }

  .navbar.active .burguer {
    border-top-color: transparent;
  }

  .navbar.active .burguer::before {
    transform: rotate(135deg);
  }

  .navbar.active .burguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  /* Seção home */
  .section-home {
    background: none;
  }

  .section-home .home-text {
    max-width: 100%;
    text-align: center;
  }

  .section-home .home-text .headline {
    font-size: 3.85rem;
    margin-bottom: 1rem;
  }

  .section-home .home-text p {
    font-size: 1.5rem;
  }

  .section-home .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 4rem;
    animation: effect 0.7s linear infinite;
  }

  /* Seção caracteridticas */
  .section-caracteristicas {
    background: none;
  }

  .cards {
    display: block;
    margin-top: 5rem;
  }

  .card {
    margin-bottom: 1rem;
    padding: 1.1rem;
  }

  /* Seção produtos */
  .section-produtos {
    background: none;
  }

  .items {
    margin-top: 1rem;
  }

  .items .item {
    width: 300px;
    height: 300px;
  }

  .item img {
    width: 65%;
    height: 65%;
  }

  .item h4 {
    font-size: 0.8rem;
  }

  .item a {
    font-size: 0.75rem;
  }

  .items .button-container {
    width: 300px;
  }

  /* Seção comentatios */
  .section-comentarios {
    background: none;
    gap: 8rem;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Global */
  section {
    padding: 4rem 2rem 1rem;
  }

  section h2 {
    font-size: 2.88rem;
  }

  /* Seção menu */
  header {
    background: rgba(86, 86, 86, 0.339);
    box-shadow: 0 4px 30px rgba(105, 105, 105, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
  }

  header .navbar ul {
    display: block;
    position: absolute;
    width: 100%;
    padding: 0.85rem 1rem;
    top: 8dvh;
    right: 0;
    background-color: var(--rosa-claro);
    height: 0;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  .navbar.active ul {
    height: calc(100dvh - 8dvh);
    visibility: visible;
    overflow-y: auto;
  }

  .navbar li a {
    display: flex;
    padding: 1.6rem 0;
    margin: 0.5rem 1.1rem;
    color: var(--rosa-escuro);
  }

  .btn__mobile {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--rosa-medio);
    gap: 0.5rem;
  }

  .burguer {
    color: var(--rosa-medio);
    border-top: 2px solid var(--rosa-medio);
    width: 20px;
  }

  .burguer::after,
  .burguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: 0.3s;
    position: relative;
  }

  .navbar.active .burguer {
    border-top-color: transparent;
  }

  .navbar.active .burguer::before {
    transform: rotate(135deg);
  }

  .navbar.active .burguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  /* Seção home */
  .section-home {
    background: none;
  }

  .home-content {
    display: flex;
    justify-content: center;
  }

  .home-text {
    max-width: 100%;
    text-align: center;
  }

  .home-text .headline {
    font-size: 5rem;
  }

  .home-text p {
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  .section-home .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.8rem;
    animation: effect 0.8s linear infinite;
  }

  /* Seção caracteristicas */

  .section-caracteristicas .cards {
    display: block;
  }

  .section-caracteristicas .card {
    margin: 2rem 0;
    padding: 1.5rem;
  }

  .section-caracteristicas .card h3 {
    font-size: 2rem;
  }

  .section-caracteristicas .card p {
    font-size: 1.5rem;
  }

  /* Seção produtos */
  .section-produtos {
    background: none;
  }

  .items .item {
    width: 400px;
    height: 400px;
  }

  .item img {
    width: 70%;
    height: 70%;
  }

  .items .button-container {
    width: 350px;
  }

  /* Seção comentarios */
  .section-comentarios {
    background: none;
  }

  .section-comentarios .container {
    margin: 0;
  }

  .section-comentarios .card-carousel {
    margin-top: 8rem;
  }

  .section-comentarios .card-carousel .card {
    height: var(--card-height);
    padding: 2rem;
  }

  .section-comentarios .card-carousel .card p {
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  /* Global */
  section {
    padding: 6rem 4rem 2rem;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 400;
    cursor: default;
  }

  /* Seção home */
  .section-home .home-content {
    display: flex;
    justify-content: start;
  }

  .section-home .home-text {
    max-width: 60%;
  }

  .section-home .headline {
    font-size: 4rem;
  }

  .section-home .home-text p {
    font-size: 1.45rem;
  }

  .section-home .btn {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }

  .section-home .btn .section-home .btn:hover {
    animation: effect 0.9s linear infinite;
  }

  /* Seção caracteristicas */
  .section-caracteristicas .card {
    padding: 3rem 1rem;
  }

  .section-caracteristicas .card h3 {
    font-size: 1.1rem;
  }

  .section-caracteristicas .card p {
    font-size: 1rem;
    margin-top: 1rem;
  }

  /* Seção produtos */
  .section-produtos .items {
    margin-top: 5rem;
  }

  .section-produtos .items .button-container {
    width: 420px;
  }

  /* Seção comentarios */
  .section-comentarios {
    background-image: url(img/background-comentarios.png);
  }
}
